
* {
    box-sizing: border-box;
   }
   
 .container { 
   display: flex;
   flex-direction: row;
  
   flex-wrap: wrap;
   } 
 .container > div {
 
   padding: 0.5em;
   color: black;
   margin: 0px;
   border-radius: 0px;
 
 }
 .container > div:nth-child(odd) {
   width: 40%;
   }
 .container > div:nth-child(even) {
   width: 30%;
   }
 .container > div:nth-child(2),
 .container > div:nth-child(4),
 .container > div:nth-child(6) {
   width: 20%;
   }  

 




body {
 font-family: Arial, sans-serif;
 background-color: #e7d4d4;
 margin: auto;
 padding: 0;
}

#submit{background-color: #e7d4d4;}

.container {
 max-width: 800px;
 margin:  auto;
 background-color: #fff;
 padding: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 display: flex;
 flex-direction: row;
}

h1, h2, h3 {
 color: #333;
}

.personal-details {
 text-align: center;
 background-color: rgb(218, 215, 215);
}

.professional-summary,
.work-experience,
.education,
.skills,
.certifications {
 margin-top: 20px;
}

#job {
 margin-bottom: 20px;
}

ul {
 list-style: none;
 padding: 0;
}
