body {
    font-family: Arial, sans-serif;
    background-color: #e7d4d4;
    margin: 0;
    padding: 0;
}

#submit{background-color: #e7d4d4;}

.cv-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    color: #333;
}

.personal-details {
    text-align: center; background-color: rgb(218, 215, 215);
}

.professional-summary, .work-experience, .education, .skills, .certifications {
    margin-top: 20px;
}

.job {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

/* CSS Grid for responsive layout */

@media(min-width: 400px) {.cv-container {
    display: grid;}}
@media(min-width: 400px) {.cv-container {
    
    grid-template-columns: 2fr;
    gap:20px;
}
}
@media (min-width: 768px) {
    .cv-container {
        grid-template-columns: 1fr 2fr;
    }
}

@media (min-width: 1024px) {
    .cv-container {
        grid-template-columns: 2fr 1fr 1fr;
    }
}
