body {
    font-family: Arial, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-image: url('./Screenshot_2019-10-21_14.57.08_edf0eb9d-6443-45a5-87ae-45636fc24838_1200x1200.webp');
}

#submit{background-color: #e7d4d4;}

.cv-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9dbdb;
    padding: 20px;
    box-shadow: 0 0 10px rgba(233, 231, 231, 0.912);
}

h1, h2, h3 {
    color: #333;
}

.personal-details {
    text-align: center; background-color: rgb(204, 202, 202);
}

.professional-summary, .work-experience, .education, .skills, .certifications {
    margin-top: 20px;
}

.job {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}
#mybutton {
    border: none; 
    background-color: transparent; 
    color: purple; 
    cursor: pointer;
font-size: x-large;
display: none; }

/* CSS Grid for responsive layout */

@media(min-width: 400px) {.cv-container {
    display: grid;}}
@media(min-width: 400px) {.cv-container {
    
    grid-template-columns: 2fr;
    gap:20px;
}
}
@media (min-width: 768px) {
    .cv-container {
        grid-template-columns: 1fr 2fr;
    }
}

@media (min-width: 1024px) {
    .cv-container {
        grid-template-columns: 2fr 1fr 1fr;
    }
}
